
/* Align logo */
#logo {
    float: left;
    margin: 15px 0 0 0;
    /* padding-left: 5px; */
}

/* Lighten Up Header/Footer */
#header{
    background: #00cdf9;
}


/* Margin for jumbotron */
.home #banner {
    margin-top: 40px;
    background: #FFF;
    width: 100% !important;
}

 /* Brighten up <a> Homepage Only */
 a {
    color: #00cdf9;
    text-decoration: underline;
}

/* select language */
#google_translate_element {
    display: inline-block !important;
    margin-top: 10px !important;
    margin-left: 372px!important;
}

/* social media widgets */
#social {
    /* display: inline-block; */
    /* float: right;
    margin-top: -25px;
    margin-right: 90px;
    font-size: 15px;
} */
/* OR above search bar */
#social {
    display: inline-block;
    float: right;
    margin-top: -35px;
    margin-right: -205px;
    font-size: 15px;
}

/* Search Bar */
#search {
    clear: right;
    float: right;
    border-radius: 4px;
    background: #FFF;
    padding: 10px 10px;
    margin-right: 130px;
}


/* Light Grey BG */
html.wf-eurostile-n4-active.wf-eurostile-n7-active.wf-eurostile-i4-active.wf-eurostile-i7-active.wf-active{
    background: #f4f4f4;
}

#categories {
    background: #f4f4f4;
}

